.bgImage{
    background-image: url('https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/ways-to-eat-clean-1296x728-feature.jpg?w=1155&h=989');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}